version: "3.8"

services:
  node-app:
    build:
      context: .
      args:
        - NODE_ENV=development
      dockerfile: Dockerfile
      target: dev
    command: ["npm", "run", "dev"]
    environment:
      NODE_ENV: development
    volumes:
      - ./:/app
      - /app/node_modules
